// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";
#main-content {

  margin-top: 20px;
}

.ui.breadcrumb {
  color: rgba(0,0,0,0.7);
  .divider {
    overflow: visible;
  }
}
