<table class='ui table bordered'>
  <thead>
    <tr>
      <th>Service Name</th>
      <th>Router</th>
      <th>Current State</th>
      <th>Current Connections</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |service|}}
      <tr>
        <td>{{#link-to "services.show" service.id}}{{service.service}}{{/link-to}}</td>
        <td>{{service.router}}</td>
        <td>{{service.state}}</td>
        <td>{{service.currentlyConnected}}</td>
      </tr>
    {{/each}}

  </tbody>
  <tfoot>

  </tfoot>
</table>
