<table class="ui table bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sampling Interval</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |monitor|}}
      <tr>
        <td>{{#link-to 'monitors.show' monitor}}{{monitor.name}}{{/link-to}}</td>
        <td>{{monitor.samplingInterval}}</td>
        <td class={{ cellstate monitor.state}}>{{monitor.state}}</td>
      </tr>
    {{/each}}

  </tbody>
  <tfoot>

  </tfoot>
</table>
