<h2>Event Times</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Duration</th>
      <th>No. Events Queued</th>
      <th>No. Events Executed</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |event|}}
      <tr>
        <td>{{event.duration}}</td>
        <td>{{event.queued}}</td>
        <td>{{event.executed}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
