<i>At some point, this should actually have the real data, and the chart data should update</i>
<div class="chart-container">
   {{vertical-bar-chart
     data=content
     sortKey=group
     selectedSeedColor="rgb(30, 120, 190)"
   }}
</div>
