<h2>Clients</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Session</th>
      <th>Client</th>
      <th>Service</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |client|}}
      <tr>
        <td>{{client.session}}</td>
        <td>{{client.client}}</td>
        <td>{{client.service}}</td>
        <td>{{client.state}}</td>
      </tr>
    {{/each}}

  </tbody>
  <tfoot>

  </tfoot>
</table>
