{{maxpanel-sidebar}}

<div class='main-content container'>
  {{outlet}}
  {{loading-slider isLoading=loading duration=250}}
</div>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
