<div class="ui top fixed  inverted blue menu">
  {{#link-to 'index' class="item"}}
  <b>MaxPanel</b>
  {{/link-to}}
  {{#link-to 'variables.index' class="item"}}
  Variables
  {{/link-to}}
  {{#link-to 'status.index' class="item"}}
  Status
  {{/link-to}}
  {{#link-to 'services.index' class="item"}}
  Services
  {{/link-to}}
  {{#link-to 'listeners.index' class="item"}}
  Listeners
  {{/link-to}}
  {{#link-to 'modules.index' class="item"}}
  Modules
  {{/link-to}}
  {{#link-to 'maxscale_sessions.index' class="item"}}
  Sessions
  {{/link-to}}
  {{#link-to 'clients.index' class="item"}}
  Clients
  {{/link-to}}
  {{#link-to 'servers.index' class="item"}}
  Servers
  {{/link-to}}
  {{#link-to 'events.index' class="item"}}
  Events
  {{/link-to}}
  <!-- <div class="right menu">
    <div class="ui input">
    {{ input  placeholder="http://localhost:8003"}}
    </div>
  </div> -->
</div>
<div class='main-content'>

  {{outlet}}
</div>
