<h2>Variables</h2>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Variable Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |variable|}}
      <tr>
        <td>{{variable.variableName}}</td>
        <td>{{variable.value}}</td>
      </tr>
    {{/each}}

  </tbody>
  <tfoot>

  </tfoot>
</table>
